/* Kode Anda Sebelumnya */
.img-hover-zoom {
    transition: transform 0.5s ease;
}

.group:hover .img-hover-zoom {
    transform: scale(1.05);
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f4fcee; 
}

::-webkit-scrollbar-thumb {
    background: #84b179; 
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #3f6838; 
}

/* --- Tambahan Kode Animasi Modal & Toast --- */
.modal-enter {
    opacity: 0;
    transform: scale(0.95);
}
.modal-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms ease-out, transform 300ms ease-out;
}
.modal-exit {
    opacity: 1;
    transform: scale(1);
}
.modal-exit-active {
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 200ms ease-in, transform 200ms ease-in;
}

#toast {
    visibility: hidden;
    min-width: 250px;
    background-color: #3f6838;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    padding: 16px;
    position: fixed;
    z-index: 100;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    font-size: 14px;
    font-weight: 600;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}
#toast.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}